.buttonContainer {
  margin-right: 20px;
  text-align: right;
}
.buttonContainer button {
  margin-left: 5px;
}

.inputContainer {
  margin-bottom: 10px;
}

.inputContainer p {
  font-size: 10px;
  color: red;
}

.invalid input {
  border-color: #c73f09 !important;
}

.inputContainer i {
  color: red;
}

.selectWidth {
  width: 100%;
}

.switchContainer {
  width: 98%;
  margin: auto;
  margin-top: 10px;
  padding: 10px 0 5px 15px;
}

.switchDiv {
  margin-left: 5px;
}
